body {
}

#main-container {
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

#main-row {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.main-col {
    padding: 0;
    width: 50%;
}

.main-cards {
    margin-top: 5vh;
    margin-left: 10px;
    min-height: 95vh;
    max-height: 95vh;
}

    .main-cards .card-header {
        font: Georgia bolder;
        color: white;
    }

#left-main-card-body {
    overflow-y: scroll;
    display: grid;
}

#experts-ul {
    display: inline-block;
    margin: 20px 0 0 20px;
    min-height: 68vh;
}

    #experts-ul .list-group-item {
        float: left;
        padding: 0px;
        border: 0;
        z-index: 10;
        margin-left: 4px;
        margin-bottom: 4px;
        border-radius: 10px;
    }

    #experts-ul .card {
        background-color: rgb(3, 169, 244);
        width: 135px;
        height: 165px;
        text-align: center;
        border-radius: 10px;
        text-align: center;
    }



.userprofile {
    width: 100%;
    clear: both;
}

    .userprofile img {
        width: 60px;
        height: 60px;
    }

    .userprofile h5 {
        margin: 3px 0 3px 0;
        font: Arial bolder;
        color: white;
        font-size: 15px;
    }

.start-box {
    margin: 20px 20px 0 20px;
    height: 250px;
    border: 3px dashed rgba(3, 169, 244, 0.5);
    background-color: rgba(3, 169, 244, 0.3);
    text-align: center;
}

.hover-box {
    border: 3px dashed rgba(3, 169, 244, 0.9);
    background-color: rgba(3, 169, 244, 0.9);
}

.start-box h3 {
    margin-top: 100px;
    opacity: 0.5;
}

#team-ul {
    margin: 7px 20px 0 20px;
    min-height: 180px;
    max-height: 180px;
    border: solid 1px rgb(3, 169, 244);
    overflow-y: scroll;
    display: grid;
}


    #team-ul .list-group-item {
        border-radius: 5px;
        margin: 2px 2px;
        background-color: rgba(3, 169, 244, 1.0);
        font: Arial bolder;
        color: white;
    }

.alert-box-visible {
    background-color: #333;
    min-width: 400px;
    max-width: initial;
    height: 110px;
    text-align: center;
    z-index: 100;
    position: absolute;
    top: 90vh;
    left: 30px;
    animation-name: alert-success;
    animation-duration: 2s;
    /*animation-timing-function: ease-in;*/
}

@keyframes alert-success{
    0%{
        opacity: 0;
        top: 90vh;
    }   
    25%{
        opacity:1;
        top: 75vh;
    }
    50%{
        opacity:1;
        top: 75vh;
    }
    75%{
        opacity:1;
        top: 75vh;
    }
    
    100%{
        opacity:0;
        top: 90vh;
    }
}

#alert-box-content {
    margin: 40px 20px;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

    #alert-box-content h5 {
        font-size: 16px;
    }

    #alert-box-content h4 {
        margin-top: -3px;
        font-size: 20px;
        color: green;
    }

.disabled {
    pointer-events: none;
    opacity: 0.7;
}
